@model WebApp.Models.RandevuTanimi

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RandevuTanimi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gun.GunID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saat.SaatID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poliklinikler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poliklinikler.PoliklinikID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RandevuTanimiID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
