@model WebApp.Models.RandevuTanimi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RandevuTanimi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gun.GunID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saat.SaatID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poliklinikler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poliklinikler.PoliklinikID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RandevuTanimiID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
