@model IEnumerable<WebApp.Models.Randevu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RandevuTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UyeGeldiMi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandevuTanimi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UyeGeldiMi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uye.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuTanimi.RandevuTanimiID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
