@model WebApp.Models.Kitap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitapAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitapAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArkaKapakYazisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArkaKapakYazisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KapakResmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KapakResmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Onerilen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Onerilen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OduncVerildi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OduncVerildi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StokAdedi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StokAdedi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrtalamaPuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrtalamaPuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EklendigiTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EklendigiTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yazar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yazar.YazarID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KitapID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
